html{
    height: 100%;
}

body {
    background-color:grey;
    margin: 0;
    padding: 0;
    height:100%;
}

header {
    background:#666;
    color:#FF6A00;
    padding: 10px 0 10px 0;
    column-gap:normal;
    margin:0 0 0 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}

header nav h1 {
    text-align:center;
    font-family:arial;
    margin:2%;
}

nav ul {
    margin:0;
    display:inline;
    padding:1%;
}

nav ul li {
    display:inline-block;
    float:none;
    background:#444;
    border-radius: 0;
    padding: 5px 25px 5px 25px;
    margin: 0 8px 0 8px;
}

a {
    color:#FF6A00;
    text-decoration: none;
}

.big {
    font-size:250%;
}
 
.footer, .push {
	height: 35px; /* .push must be the same height as .footer */
    text-align:center;
    font-size: 75%;
    
}

.video {
    text-align: center;
    float:center;
    padding: 10px 10px 10px 10px;
}

.inconstruct {
    text-align:center;
    color:#FF6A00;
    font-size: 400%;
}

.contact {
    text-align: center;
    color: azure;
    font-size: 200%;
}

div .container {
    text-align: center;
    font-size: 100%;
    width: 100%;
    margin: auto;
    min-width: 560px;
}

.navhover {  /* This is for when the cursor isn't hovering over the button */
    display:inherit;
}

.navhover:hover {
    background-color: aliceblue; /* This is when cursor is hovering the button */
    font-size: 115%;
}

.current_tab {
}

.Video_Header {
    text-align:center;
    color:#FF6A00;
}

#center_button {
    text-align:center;
    margin:10px;
}

#more_videos {
    color: aliceblue;
    background: #444;
    border: solid 2px aliceblue;
    font-size:18px;
    padding: 4px;
    margin: 10px;
}

#more_videos:hover {
    font-size:20px;
}




    